<div class="form-container">
    <form [formGroup]="registerForm" (ngSubmit)="submitRegister()">
        <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="form-control" formControlName="name" id="name" placeholder="">
            <div class="text-danger" *ngIf="registerForm.get('name')?.errors?.['required']">
                *Campo nombre es requerido.
            </div>
            <div class="text-danger" *ngIf="registerForm.get('name')?.errors?.['maxlength']">
                *Campo nombre no puede ser mayor a 25 caracteres.
            </div>
            <div class="text-danger" *ngIf="registerForm.get('name')?.errors?.['minlength']">
                *Campo nombre no puede ser menor a 3 caracteres.
            </div>
            <div class="text-danger" *ngIf="registerForm.get('name')?.errors?.['pattern']">
                *Campo nombre acepta solo letras.
            </div>
        </div>

        <div class="mb-3">
            <label for="surname" class="form-label">Apellido</label>
            <input type="text" class="form-control" formControlName="surname" id="surname">
            <div class="text-danger" *ngIf="registerForm.get('surname')?.errors?.['required']">
                *Campo apellido requerido.
            </div>
            <div class="text-danger" *ngIf="registerForm.get('surname')?.errors?.['maxlength']">
                *Campo apellido no puede ser mayor a 35 caracteres.
            </div>
            <div class="text-danger" *ngIf="registerForm.get('surname')?.errors?.['minlength']">
                *Campo apellido no puede ser menor a 3 caracteres.
            </div>
            <div class="text-danger" *ngIf="registerForm.get('surname')?.errors?.['pattern']">
                *Campo apellido solo acepta letras.
            </div>
        </div>

        <div class="mb-3">
            <label for="dateOfBirth" class="form-label">Fecha nacimiento</label>
            <input type="date" class="form-control" formControlName="dateOfBirth" id="dateOfBirth" (change)="validateBirth()">
            <div class="text-danger" *ngIf="!ageValid">
                *Solo personas mayores a 18 años se pueden registrar.
            </div>
            <div class="text-danger" *ngIf="registerForm.get('dateOfBirth')?.errors?.['required']">
                *Fecha de nacimiento requerida.
            </div>
        </div>

        <div class="mb-3">
            <label for="province" class="form-label">Provincia</label>
            <input type="text" class="form-control" formControlName="province" id="province">
            <div class="text-danger" *ngIf="registerForm.get('province')?.errors?.['required']">
                *Provincia es requerida.
            </div>
        </div>

        <div class="mb-3">
            <label for="city" class="form-label">Ciudad</label>
            <input type="text" class="form-control" formControlName="city" id="city">
            <div class="text-danger" *ngIf="registerForm.get('city')?.errors?.['required']">
                *Ciudad requerida.
            </div>
        </div>

        <div class="mb-3">
            <label for="username" class="form-label">Usuario</label>
            <input type="email" class="form-control" formControlName="username" id="username">
            <div class="text-danger" *ngIf="registerForm.get('username')?.errors?.['required']">
                *Usuario requerido.
            </div>
            <div class="text-danger" *ngIf="registerForm.get('username')?.errors?.['email']">
                *No coincide con un mail válido.
            </div>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" formControlName="password" id="password">
            <div class="text-danger" *ngIf="registerForm.get('password')?.errors?.['required']">
                *Contraseña requerida.
            </div>
            <div class="text-danger" *ngIf="registerForm.get('password')?.errors?.['minlength']">
                *La contraseña tiene que tener al menos 8 caracteres.
            </div>
            <div class="text-danger" *ngIf="registerForm.get('password')?.errors?.['maxlength']">
                *La contraseña no debe superar los 25 caracteres.
            </div>
            <div class="text-danger" *ngIf="registerForm.get('password')?.errors?.['pattern']">
                *Contraseña necesita: Una letra mayúscula y un caracter especial.
            </div>
        </div>

        <div class="mb-3">
            <input type="submit" value="Registrarme" id="btnRegistrar" class="form-control">
            <input type="submit" routerLink="/login" value="Volver" class="form-control secondary">
        </div>
    </form>
</div>
