<div class="form-container">
    <form [formGroup]="profileForm" (ngSubmit)="submitEditProfile()">
     
        <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="form-control" formControlName="name" id="name" placeholder="">
            
            <div class="text-danger" *ngIf="profileForm.get('name')?.errors?.['required']">
                *Campo nombre es requerido.
            </div>

            <div class="text-danger" *ngIf="profileForm.get('name')?.errors?.['maxlength']">
                *Campo nombre no puede ser mayor a 25 caracteres.
            </div>

            <div class="text-danger" *ngIf="profileForm.get('name')?.errors?.['minlength']">
                *Campo nombre no puede ser menor a 3 caracteres.
            </div>

            <div class="text-danger" *ngIf="profileForm.get('name')?.errors?.['pattern']">
                *Campo nombre acepta solo letras.
            </div>
        </div>

        <div class="mb-3">
            <label for="surname" class="form-label">Apellido</label>
            <input type="text" class="form-control" formControlName="surname" id="surname">
            
            <div class="text-danger" *ngIf="profileForm.get('surname')?.errors?.['required']">
                *Campo apellido requerido.
            </div>

            <div class="text-danger" *ngIf="profileForm.get('surname')?.errors?.['maxlength']">
                *Campo apellido no puede ser mayor a 35 caracteres
            </div>

            <div class="text-danger" *ngIf="profileForm.get('surname')?.errors?.['minlength']">
                *Campo apellido no puede ser menor a 3 caracteres.
            </div>

            <div class="text-danger" *ngIf="profileForm.get('surname')?.errors?.['pattern']">
                *Campo apellido solo acepta letras.
            </div>
        </div>

        <div class="mb-3">
            <label for="province" class="form-label">Provincia</label>
            <input type="text" class="form-control" formControlName="province" id="province">
            <div class="text-danger" *ngIf="profileForm.get('province')?.errors?.['required']">
                *Provincia es requerida.
            </div>
        </div>

        <div class="mb-3">
            <label for="city" class="form-label">Ciudad</label>
            <input type="text" class="form-control" formControlName="city" id="city">
            <div class="text-danger" hidden="true" id="alert-city" *ngIf="profileForm.get('city')?.errors?.['required']">
                *Ciudad requerida
            </div>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" formControlName="password" id="password">
            
            <div class="text-danger" *ngIf="profileForm.get('password')?.errors?.['required']">
                *Contraseña requerida.
            </div>

            <div class="text-danger" *ngIf="profileForm.get('password')?.errors?.['minlength']">
                *La contraseña tiene que tener al menos 8 caracteres.
            </div>

            <div class="text-danger" *ngIf="profileForm.get('password')?.errors?.['maxlength']">
                *La contraseña no debe superar los 25 caracteres.
            </div>

            <div class="text-danger" *ngIf="profileForm.get('password')?.errors?.['pattern']">
                *Contraseña necesita: Una letra mayúscula y un caracter especial.
            </div>
        </div>

        <div class="mb-3">
            <input type="submit" id="btnEdit" value="Guardar" class="form-control">
            <input type="submit" routerLink="/dashboard" value="Cancelar" class="form-control secondary">
        </div>
    </form>
</div>
